<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="gregg" type="system">
    <hardware>
      <plugin>grr_hardware/$(arg hardware_interface)</plugin>
      <xacro:if value="${hardware_interface_value == 'CanInterface'}">
        <param name="can_interface">can0</param>
        <param name="joint_map">front_right_mecanum_joint:FR, front_left_mecanum_joint:FL, rear_right_mecanum_joint:RR, rear_left_mecanum_joint:RL</param>
        <param name="can_id_map">FR:0x100:0x101, FL:0x100:0x101, RR:0x100:0x101, RL:0x100:0x101</param>
        <param name="invert_can_joints">FR, RR</param>
        <param name="controlled_joints">front_right_mecanum_joint, front_left_mecanum_joint, rear_right_mecanum_joint, rear_left_mecanum_joint</param>
      </xacro:if>
    </hardware>
    </hardware>
    <joint name="front_right_mecanum_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_left_mecanum_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_left_mecanum_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_right_mecanum_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</robot>